# ===================================================================
# plottwist dev requirements file
# ===================================================================

-e D:/tpDcc/tpDcc-config
-e D:/tpDcc/tpDcc-libs-python
-e D:/tpDcc/tpDcc-core
-e D:/tpDcc/tpDcc-libs-qt
-e D:/tpDcc/tpDcc-dccs-maya
-e D:/tpDcc/tpDcc-libs-nameit
-e D:/tpDcc/tpDcc-tools-nameit
-e D:/tpDcc/tpDcc-tools-renamer
-e D:/dev/artellapipe/artellapipe
-e D:/dev/artellapipe/artellapipe-config
-e D:/dev/artellapipe/artellapipe-libs-alembic
-e D:/dev/artellapipe/artellapipe-libs-naming
-e D:/dev/artellapipe/artellapipe-libs-artella
-e D:/dev/artellapipe/artellapipe-libs-kitsu
-e D:/dev/artellapipe/artellapipe-libs-pyblish
-e D:/dev/artellapipe/artellapipe-libs-ffmpeg
-e D:/dev/artellapipe/artellapipe-libs-arnold
-e D:/dev/artellapipe/artellapipe-libs-usd
-e D:/dev/artellapipe/artellapipe-dccs-maya
-e D:/dev/artellapipe/artellapipe-tools-changelog
-e D:/dev/artellapipe/artellapipe-tools-bugtracker
-e D:/dev/artellapipe/artellapipe-tools-alembicmanager
-e D:/dev/artellapipe/artellapipe-tools-namemanager
-e D:/dev/artellapipe/artellapipe-tools-artellamanager
-e D:/dev/artellapipe/artellapipe-tools-artellauploader
-e D:/dev/artellapipe/artellapipe-tools-assetslibrary
-e D:/dev/artellapipe/artellapipe-tools-assetsmanager
-e D:/dev/artellapipe/artellapipe-tools-modelchecker
-e D:/dev/artellapipe/artellapipe-tools-lightrigsmanager
-e D:/dev/artellapipe/artellapipe-tools-shadersmanager
-e D:/dev/artellapipe/artellapipe-tools-playblastmanager
-e D:/dev/artellapipe/artellapipe-tools-dependenciesmanager
-e D:/dev/artellapipe/artellapipe-tools-sequencespublisher
-e D:/dev/artellapipe/artellapipe-tools-tagger
-e D:/dev/artellapipe/artellapipe-tools-renamer
-e D:/dev/artellapipe/artellapipe-launcher
-e D:/dev/artellapipe/artellapipe-launcher-plugins-dccselector
-e D:/dev/artellapipe/artellapipe-launcher-plugins-artellamanager
-e D:/dev/plottwist/plottwist
-e D:/dev/plottwist/plottwist-config
-e D:/dev/plottwist/plottwist-bootstrap
-e D:/dev/plottwist/plottwist-libs-pyblish
-e D:/dev/plottwist/plottwist-tools-outliner